/* Site Stylesheet
  1. Variables
  2. Global Styles
  3. Typography Styles
  4. Structure Styles
  5. Module Styles
  6. Component Styles
  7. Page Styles
======================================== */
/* 1. Global Styles
======================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  width: 98%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* 2. Typography Styles
======================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface', Helvetica, sans-serif;
  line-height: 1.25;
  margin-bottom: 2px;
  -webkit-transition: font-size 0.25s ease;
  transition: font-size 0.25s ease;
}

h1 {
  display: inline-block;
  font-size: 48px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}

@media (max-width: 720px) {
  h1 {
    font-size: 24px;
  }
}

/* shapes */
.shapes {
  display: inline-block;
}

.shapes div {
  margin-right: 0.4em;
}

.square {
  background-color: black;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-left: 1em;
}

.circle {
  background-color: black;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 0 0.9em 1.4em 0.9em;
  border-color: transparent transparent black transparent;
}

/* 3. Structure Styles
======================================== */
/* 4. Modules Styles
======================================== */
/* Header */
header::after {
  content: ' ';
  border-bottom: 4px solid black;
  display: block;
}

/* Site Navigation */
.container {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  grid-gap: 1.5em;
}

/* Site Footer */
/* 5. Component Styles
======================================== */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/*
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1d70b7;
}
*/
.title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: 'Abril Fatface', serif;
  letter-spacing: .1em;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 2em;
  margin: 0;
  font-weight: 400;
}

.project {
  position: relative;
}

.project .overlay:hover {
  opacity: 0;
}

.a .overlay {
  background-color: #1d70b7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.b .overlay {
  background-color: #e6332a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.c .overlay {
  background-color: #00a09a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.d .overlay {
  background-color: #e84e1b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.e .overlay {
  background-color: #008d36;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.f .overlay {
  background-color: #f9b233;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* 6. Page Styles
======================================== */
/* projects */
/*# sourceMappingURL=style.css.map */